.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100%;
}

.logo-container-login {
    margin-bottom: 20px;
}   

.logo-container-login img {
    width: 150px;
}

.form-container {
    width: 100%;
    max-width: 700px; 
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    color: #191A23;
    text-align: center;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .logo-container-login img {
        width: 100px;
    }

    .form-container {
        width: 90%;
        padding: 10px;
    }

    .login-title {
        font-size: 16px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    .logo-container-login img {
        width: 120px;
    }

    .form-container {
        max-width: 100%;
    }
    .login-title {
        font-size: 28px;
    }
}
