.home-header {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: nowrap;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100px;
    transition: all 0.3s ease;
}

.btn-logout {
    background-color: #B23B3B;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
}


@media (max-width: 480px) {
    .home-header {
        padding: 10px;
    }

    .header-nav {
        flex-direction: row;
        align-items: flex-start;
    }

    .logo-container img {
        height: 80px;
    }

    .btn-logout { 
        padding: 8px 12px; 
        font-size: 12px; 
        border-radius: 10px; 
        margin-left: auto;  
    }
}
@media (min-width: 481px) and (max-width:768px) {
    .logo-container img {
        height: 80px;
    }

    .btn-logout {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 14px;
    }
}