.verify-email-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 120px;
    height: auto;
}

.verify-email-box {
    text-align: center;
    padding: 20px;
    max-width: 500px;
    border-radius: 8px;
    background: #26273A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.verify-email-image {
    width: 100px; 
    height: 100px;
    margin-bottom: 16px;
}

.verify-email-title {
    font-size: 24px;
    color: #f3f3f3;
    margin: 16px 0;
}

.verify-email-status {
    color: #f3f3f3;
    font-size: 16px;
    margin: 10px 0;
}

.verify-email-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #191A23;
}

.verify-email-home-link {
    color: #66b3ff;
    text-decoration: none;
    font-weight: 500;
}


@media (max-width: 480px) {
    .verify-email-box {
        padding: 16px;
    }

    .verify-email-title {
        font-size: 20px;
    }

    .verify-email-status {
        font-size: 14px;
    }

    .logo-container img {
        width: 100px;
    }

    .verify-email-image {
        width: 80px;
        height: 80px;
    }

    .verify-email-footer {
        font-size: 12px;
    }
}
