.form-nuevo-entorno {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #191A23;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.form-nuevo-entorno label {
    font-size: 16px;
    font-weight: 400;
    color: #f3f3f3;
    margin-bottom: 8px;
}

.form-nuevo-entorno input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #898989;
}

.botones-form {
    display: flex;
    justify-content: space-evenly;
}

.botones-form button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botones-form button:hover {
    opacity: 0.9;
}

.botones-form .btn-crear-entorno {
    background-color: #b9ff66;
    color: #191A23;
}

.botones-form .btn-cancelar {
    background-color: #B23B3B;
    color: #F3F3F3;
}

.mensaje-error {
    color: #ff4d4d;
    font-size: 13px;
    margin: 1px 0 10px 0;
    display: block;
}

@media (max-width: 480px) {
    .form-nuevo-entorno {
        padding: 10px;
        width: 90%;
    }

    .form-nuevo-entorno label {
        font-size: 14px;
    }

    .form-nuevo-entorno input {
        font-size: 14px;
    }

    .form-nuevo-entorno input::placeholder {
        font-size: 12px;
    }

    .botones-form {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .botones-form button {
        width: 90%;
        padding: 12px;
        font-size: 14px;
    }
    .mensaje-error{
        font-size: 9px;
        margin-bottom: 6px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .form-nuevo-entorno {
        max-width: 100%;
        width: 90%;
    }

    .botones-form {
        flex-direction: row;
        gap: 12px;
    }

    .botones-form button {
        width: auto;
    }

    .mensaje-error {
        font-size: 11px;
        margin-bottom: 8px;
    }
}